$colorbase: #1926ff;
body {
  background-color: lighten($colorbase, 10%);
}

#presencia_main {
  display: grid;
  height: 600px;
  background-color: lighten($colorbase, 20%);;
  min-width: 100%;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  div{
    padding: 1em;
    font-size: 1em;
  }
}















.cssgrid_class {
  padding: 0;
  margin: 0 auto;
  background-color: lighten($colorbase, 35%);
  header {
    display: none;
  }
  main.content {
    padding: 0;
    margin: 0 auto;
    background-color: darken($colorbase, 17%);
  }
}