$colorbase: #1926ff;
body {
  background-color: lighten($colorbase, 10%);
}

section.container{
  display: grid;
  background-color: lighten($colorbase, 18%);
  grid-template-columns: 25% 50% 25%;
.item{
  background: lightblue;
  padding: 11px;
  border: 1px solid red;
}
}















.cssgrid_class {
  padding: 0;
  margin: 0 auto;
  background-color: lighten($colorbase, 35%);
  header {
    display: none;
  }
  main.content {
    padding: 0;
    margin: 0 auto;
    background-color: darken($colorbase, 17%);
  }
}